.about_container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  background-color: black;
  background-size: cover;
  height: 1000px;
}

#about_header {
  font-family: "Mrs Saint Delafield", cursive;
  color: white;
  font-size: 60px;
  padding-top: 100px;
  text-align: center;

}

#about_writeup {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  color: #ABAAAA;
  padding-left: 20px;
  display: flex;
  text-align: center;
  padding-right: 100px;
  line-height: 50px;
  padding-left: 300px;
  padding-right: 300px;
  font-size: 18px;

}
