html {
  background-color: black;
}

.edu_container {
  display: grid;
  grid-template-columns: 40% 60%;

  object-fit: cover;
  height: 1000px;
  background-color: black;
}

.rightside {
  background-color: black;
  grid-template-rows: 30% 70%;
}

#left_pic {
  margin-right: 400px;
}

#ed_header {
  font-family: 'Mrs Saint Delafield', cursive;
  color: white;
  font-size: 60px;
  padding-top: 100px;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
}

#ed_writeup {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  color: #abaaaa;
  padding-left: 20px;
  display: flex;
  text-align: left;
  padding-right: 50px;
  line-height: 30px;
  grid-row: 1;
}

.skillsDropdown {
  margin-top: auto;
  grid-row: 2;
  padding-left: 20px;

}
