.homeBackground {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  object-fit: cover;
  height: 970px;

}
.bg_welcome{
  background-color: black;
}

.homeLogo {
  width: 500px;
  position: absolute;
  height: auto;
  z-index: 2;
 margin-top: 500px;
 margin-left: 20%;
}
