.homeLogo {
  position: absolute;
  /* height: auto; */
  /* z-index: 2; */
  margin-top: 250px;
  margin-left: 27%;
}

.homeBackground {
  max-height: 1000px;

}

.Element {
  z-index: 4;
  display: flex;
  height: 100vh;
}

.NavbarDiv {
  z-index: 20;
}

dl {
  /* margin: 1rem; */
  /* background-color: cornflowerblue;
   color: cornsilk; */
}
dt {
  position: sticky;
  top: 10px;
}
