.links_center {
  display: flex;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

button {
  position: relative;
  /* margin: 5px; */
  height: 60px;
  width: 150px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  background-color: black;
  border-radius: 10px;
  color: #ECB99C;
  z-index: 1;
  overflow: hidden;

}

button:after {
  content: '';
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  border: solid 5px #ECB99C;
  z-index: -1;
  transition: transform 0.6s linear;
  transform: scale(0.97, 0.93);
}

button:hover::after { transform: scale(1,1); }

.nav_prof{
  z-index: 3;
}
