.navbar {
  background-color: #ECB99C;
  height: 80px;
  width: 100%;
  list-style-type: none;
  position: fixed;
  top: 0;
  z-index: 3;
  padding-right: 400px;
}

.dashingNav {
  display: flex;
  justify-content: flex-start;
  justify-content: center;
  padding-left: 25px;
  padding-top: 12px;
}

.links {
  display: flex;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  margin-top: -18px;
  padding-left: 30px;
  font-size: 18px;
  margin-top: -0.4%;
}

.links a:link {
  color: red;
  text-decoration: none;
  text-transform: normal;
  letter-spacing: normal;
  /* padding-left: 20px; */
}

.links a:visited {
  text-decoration: none;
  color: red;
}

.links a:hover {
  color: white;
}
