body{
    background-color: black;
     /* min-height: 12200px; */
     /* border: 1px solid #dbdedd; */
}
  .ctnr_profile{

      z-index: 1;
      /* margin-top: 200px; */
      margin: 0.7%;
      display: grid;
      grid-template-columns:  25% 35% 10% 25%;
      grid-template-rows:    25% 10% 20% 5%  20% 25%;
      grid-gap: 50px;

      background-color: #000000;
    
  }

.bg_intro_profile{
    grid-row: 1;
    height: 100px;
    /* z-index: 2; */
   transform: translateY(-560%);

    display: grid;
    grid-template-rows: 70%;
    /* z-index: 1; */
}

.intro_pic{
    grid-row: 1;
    /* z-index: -1; */
    /* margin-left: 0.7%; */
    /* transform: translateY(-30%); */
    /* transform: translateX(-50%); */
}

.avatar_profile{
    border: solid white;
    width: 150px;
    height: 150px;
    object-fit: cover;
  /* object-position: center right; */
    border-radius: 10%;
    position: absolute;
    z-index: 2;
    top: 300px;
    left: 250px;
    height: 200px;
    /* background-color: black; */
}

.prov_name{
    z-index: 2;
    margin-top: 80px;
    text-align: left;
    padding: 10px;
    top:  310px;
    position: absolute;
    
}
.bg_name{
    /* background-color: white; */
    border: 1px solid #dbdedd;
    background-color:  rgb(244, 240, 235);
    position: absolute;
    top:  390px;
    width: 400px;
    height:  50px;
    left: 300px;
    z-index: 1;
    
}
.prov_boro{
    top: 330px;
    color: #ecb99c;
    font-size: 14px;
    text-align: left;
    padding: 10px;
    position: absolute;
    z-index: 2;
    background: #000000;
    left: 399px;
}

.prov_info{
    grid-column: 2;
    grid-row: 2;
    /* z-index: 2; */
}

.ctnr_services{
    grid-column: 2;
    /* z-index: 2; */
    grid-row: 3;
    margin-top: 90px;
    
}

.ctnr_skills{
    /* background-color: lightyellow; */
    /* justify-content: space-around; */
    margin-bottom: 10px;
    /* margin: 5px 25px 20px; */
    
}

.srv_name{
    font-weight: bold;
    /* background: rgb(222, 184, 134); */
    text-shadow: 2px 2px 4px #000000;
    color: white;
    text-align: left;
    font-family: "Yesteryear", cursive;
    font-size: 60px;
    /* margin-top: 30px; */
    
}

.skills{
    border-width: thin;
    width: 100px;
    margin: 10px;
}

.contact_info{
    z-index: 1; 
    grid-column: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-gap: 5px;
    grid-row: 6;



    /* background: rgb(222, 184, 134); */
    color: white;
    font-family: 'Cinzel', serif;
    display: grid;
    grid-template-columns: 100% 100%;
    grid-template-rows:  20% 20%;
    grid-gap: 2px;
    text-align: left;
    
    /* border: solid rgb(236, 185, 156); */
}

.contact_info p {
    grid-column: 1;
    /* grid-row: 1; */
    border-bottom: solid rgb(236, 185, 156);
    
    font-size: 14px;
    font-family: 'Cinzel', serif;

}
.contact_info h6 {
    /* border-left: solid rgb(236, 185, 156); */
    grid-column: 2;
    font-size: 14px;
    font-family: 'Cinzel', serif;
    /* grid-row: 2 */
    /* border: solid rgb(236, 185, 156); */
}

.inner_skill{
    /* border: solid white; */
    margin-right: 13px;
    margin-left: 13px;
    color: black;
    font-family: 'Cinzel', serif;
    /* background: rgb(236, 185, 156); */
    background: #dbdedd;
    top: 30%;
    padding: 10px;
    margin-bottom:  20px
}

.ctnr_porfolio{
    margin-top: 20px;
    position: absolute;
    grid-column: 3;
    grid-row: 3;
    background:  #dbdedd;
    /* background: white; */
    height: 200px;
    top: 470px;
    right: 135px;
    width: 350px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    overflow-y: scroll;
}
.portfolio_img{
    grid-row: 1
}
.social_link{
    grid-column: 3;
    grid-row: 5;
    color: #dbdedd;
    display: grid;
    grid-template-columns: 100% 40%;
    text-align: left;

}

.social_link p{
    grid-column: 1;
    grid-row: 5;
    font-size: 14px;
    font-family: 'Cinzel', serif;
    border-bottom: solid rgb(236, 185, 156)

}
.social_link a{
    grid-row: 5;
    grid-column: 2;
    font-size: 14px;
    font-family: 'Cinzel', serif;
    color: white;
}