.about_container {
  background-color: black;
  background-size: cover;
  height: 1000px;
}

#about_header {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 60px;
  padding-top: 100px;
  text-align: center;
  letter-spacing: -2px;

}

#about_writeup {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  color: #abaaaa;
  padding-left: 20px;
  display: flex;
  text-align: center;
  padding-right: 100px;
  line-height: 50px;
  padding-left: 250px;
  padding-right: 250px;
  font-size: 23px;
  padding-top: 15px;
}
