.edu_body {
  background-image: url("../photo_assets/edu_pic.jpg");
  z-index: -2;
  object-fit: cover;
  /* opacity: 0.2; */
  filter: alpha(opacity=50);
  max-height: 1000px;
  max-width: 1000px;
}

.buffer_div {
  opacity: 0.2;
}

.navbar {
  z-index: 3;
}
.solo_links {
  display: flex;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  margin-top: -35px;
  padding-left: 20px;
  font-size: 18px;
}

.solo_links a:link {
  color: black;
  text-decoration: none;
  text-transform: normal;
  letter-spacing: normal;
  /* padding-left: 20px; */
}

.solo_links a:visited {
  text-decoration: none;
  color: black;
}

.solo_links a:hover {
  color: white;
}

.provider_pics {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-column-gap: 15px;
  grid-row-gap: 20px;
  padding-left: 350px;
  padding-right: 350px;
  padding-top: 50px;
}

.profile_box {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  background-color: #383b3f;
  text-decoration: none;
  border-radius: 5px;
  height: 175px;
}

.edu_info {
  grid-column: 2;
  padding-left: 5px;
  padding-top: 15px;
}

.linkto {
  text-decoration: none;
}

.edu_avatar {
  grid-column: 1;
  padding-left: 10px;
  padding-top: 13px;
  width: 150px;
  border-radius: 110px;
  border-style: inset;
  border-color: grey;
  height: 150px;
  object-fit: cover;
  text-decoration: none;
}

#edu_name {
  text-align: left;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  color: white;
}

#edu_location {
  text-align: left;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: #ecb99c;
}

#edu_avail {
  text-align: left;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: white;
}

.edu_avatar_link {
  font-weight: 300;
  color: white;
}

.edu_information {
  color: white;
  padding-top: 150px;
}

#ed_header {
  font-family: "Josefin Sans", sans-serif;
  font-size: 60px;
  letter-spacing: -2px;
}

#ed_writeup {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  line-height: 40px;
  font-weight: 200;
  color: #abaaaa;
  padding-top: 30px;
}

.edu_service_search {
  display: grid;
  column-gap: 8px;
  padding-left: 500px;
  padding-right: 300px;

}

.svc_selector {
  background-color: black;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  border-style: solid;
  border-width: 1px;
  border-color: #ecb99c;
  color: #fffbfc;
  grid-column: 1;
  width: 100%;
  height: 54px;
}

.providerSearch input,
select {
  background-color: black;
  font-family: "Josefin Sans", sans-serif;
  border-style: solid;
  border-width: 1px;
  border-color: #ecb99c;
  width: 100%;
  height: 50px;
  font-size: 15px;
  border-radius: 4px;
  grid-column: 2;
  padding-left: 10px;
  color: #fffbfc;
}
.providerSearch {
  color: white;
}

.edu_button {
  grid-column: 3;
  border-radius: 4px;
  width: 100px;
  height: 53px;
  margin-top: 0;
  border-color: #ecb99c;
  font-family: "Josefin Sans", sans-serif;
  color: #fffbfc;
  font-size: 15px;
  font-weight: 200;
  background: black;
  margin-left: 15px;
}
.edu_searchBar::placeholder {
  color: white;
  font-weight: 200;

}
