.homeLogo {
  position: absolute;
  height: 100px;
  /* z-index: 2; */
  margin-top: 450px;
  margin-left: 27%;

}

.homeBackground {
  /* max-height: 1000px; */
  /* max-height: 1000px; */
  /* width: 100%; */
  height: 100%;


}

.Element {
  z-index: 4;
  display: flex;
  height: 100vh;

  object-fit: cover;

}

.NavbarDiv {
  z-index: 20;
}

dl {
  /* margin: 1rem; */
  /* background-color: cornflowerblue;
   color: cornsilk; */
}
dt {
  position: sticky;
  top: 10px;
}
