.ctnr_prov{
  width: 100%;
  height: 100%;
}

.ctnr_box {
  display: grid;
  grid-template-columns: 30% 80%;
  height: 100%;
  overflow-x: scroll;
}

.ctnr_box_barber{
  display: grid;
  grid-template-columns: 30% 75%;
}

.ctnr_box_right{
  display: grid;
  height: 100%;
  grid-template-columns:70% 30% ;
  overflow-x: scroll;
}

.img_intro_right{
  grid-column: 2;
  height: 100%;
  border-left: solid #ecb99c;
  /* transform: translate(-12px); */

}
.inner_ctnr_providers_right{
  grid-column: 1;
  grid-row: 1;
  /* align-items: start; */
  background-color: black;
  /* display: grid; */
  grid-template-rows: 10% 70%;
  border-left: solid #ecb99c;
  /* border-bottom: solid #ecb99c; */
  max-height: 800px;
}
.img_intro {
  grid-column: 1;
  /* height: 800px; */
  height: 100%;
  border-bottom: solid #ecb99c;
  border-left: solid #ecb99c;
  border-right: solid #ecb99c;
}

.inner_ctnr_providers {
  align-items: start;
  background-color: black;
  /* display: grid; */
  grid-template-rows: 10% 70%;
  padding-right: 10px;
  border-left: solid #ecb99c;
  border-bottom: solid #ecb99c;
  /* max-height: 800px; */
}

.ctnr_nav{
  display: grid;
  grid-template-columns: 15% 80%;
  grid-row: 1;
  background: #e2ae86;
}

#providername {
  font-size: 15px;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-weight: 400;
}

.title {
  /* background-color: black; */
  font-family: 'Mrs Saint Delafield', cursive;
  padding-left: 20px;
  text-align: left;
  color: white;
  font-size: 50px;
  padding-top: 20px;
}
.title_hair{
  font-family: 'Mrs Saint Delafield', cursive;
  padding-left: 60px;
  text-align: left;
  color: white;
  font-size: 50px;
  padding-top: 20px;
}

.providers {
  padding-top: 100px;
  width: 1000px;
}

.prov {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.box {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 200px;
  margin-right: 40px auto;
  padding: 8px;
  /* background-color: #fffbfc; */
  background-repeat: no-repeat;
  /* background-size: 0 2px, 0 100%, 0% 2px; */
  /* background-position: top center, top center, bottom center; */
  -webkit-animation: drawBorderFromCenter 10s;
}
.box img {
  /* max-width: auto; */
}

.box .hvrbox-layer_bottom {
  /* display: block; / */

  border: solid #ecb99c
}
.box .hvrbox-layer_top {

  /* background: white; */
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  /* color: #fff; */
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.box:hover .hvrbox-layer_top,
.box.active .hvrbox-layer_top {
  opacity: 3;
  /* background: #fff; */
  color: white;
}
.box .hvrbox-text {
  text-align: center;
  font-size: 14px;
  /* display: inline-block; */
  position: absolute;
  top: 40%;
  left: 50%;
  color: white;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hvrbox-text{

}
.box .hvrbox-text_mobile {
  font-size: 15px;
  /* border-top: 1px solid rgb(179, 179, 179); for old browsers */
  /* border-top: 1px solid rgba(179, 179, 179, 0.7); */
  /* border-top: 1px solid #ecb99c; /* for old browsers */
  /* border-top: 1px solid #ecb99c; */
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}
.box.active .hvrbox-text_mobile {
  display: block;
}
.box:hover {
  /* opacity: 0.5; */
  /* background: white; */
}

@-webkit-keyframes drawBorderFromCenter {
  0% {
    background-size: 10% 2px, 0 0, 100% 100%;
  }
  20% {
    background-size: 100% 2px, 100% 0, 100% 100%;
  }
  30% {
    background-size: 100% 2px, 100% 98%, 100% 100%;
  }
  99% {
    background-size: 100% 2px, 100% 98%, 0 2px;
  }
}

.location_title {
  font-size: 14px;
  text-align: left;
  font-family: "Josefin Sans", sans-serif;

}

.provider_name {
  margin: 10px;
  margin-left: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  text-align: left;
  color: black;
  /* border-bottom: 1px dashed #000; */
  width: 20%;
  margin: auto;
}

.info_provider {
  display: none;
  opacity: 0;
  text-transform: uppercase;
  position: absolute;
  top: 220px;
  font-family: "Josefin Sans", sans-serif;
  /* color: white; */
}

.info_provider:hover {
  display: block;
  opacity: 1;
}

.content {
  /* background: #ecb99c; */
  padding: 8px;
  text-align: center;
  text-transform: uppercase;

}

.lds-heart {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  transform: rotate(45deg);
  transform-origin: 32px 32px;
}

.lds-heart div {
  top: 23px;
  left: 19px;
  position: absolute;
  width: 26px;
  height: 26px;
  background: #ce0000;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  background: #ce0000;
}

.lds-heart div:before {
  left: -17px;
  border-radius: 50% 0 0 50%;
}

.lds-heart div:after {
  top: -17px;
  border-radius: 50% 50% 0 0;
}

@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
